{% extends 'base.html.twig' %}
   {% block body %}
{#<div class="register-container">#}
    {#<div class="row">#}
        {#<div class="col-md-12">#}
            {#<div class="text-center m-b-md">#}
                {#<h3>Registration</h3>#}
                {#<small>Full suported AngularJS WebApp/Admin template with very clean and aesthetic style prepared for your next app. </small>#}
            {#</div>#}
            {#<div class="hpanel">#}
                {#<div class="panel-body">#}


                    {#{{ form_start(form) }}#}
                    {#<div class="form-group">#}
                        {#{{ form_widget(form) }}#}
                    {#</div>#}
                    {#{{ form_end(form) }}#}


                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}

{#</div>#}



       <div class="row">
           <div class="col-md-12">

               <div class="hpanel">
                   <div class="panel-body ">
                       <div class=" col-md-6">

                           {{ form_start(form) }}
                           <div class="form-group">
                               {{ form_widget(form) }}
                           </div>
                           {{ form_end(form) }}
                       </div>

                   </div>
               </div>
           </div>
       </div>


   {% endblock %}